* {
    text-align: center;
  }
  
body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #FFFFFF;
    margin: 2rem;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
    margin-top: 1rem;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

label {
    color: #FFFFFF;
}

input, button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
}

button {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.btn-add {
    background: #4CAF50;
}

.btn-delete {
    background: #F44336;
    display: flex;
    font-size: 0.65rem;
}

.btn-actions {
    background: #e7e7e7;
    color: #000;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0;
}

.btn-actions-delete {
    background: #F44336;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0;
    border-radius: 50%;
}

button:hover {
    opacity: 0.9;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0 1rem;
}

th, tr, td {
    border: solid 1px white;
    color: white;
    margin: 5rem;
}
